.container-fluid
  .row
    .col-md-12
      party-add(ng-show='partiesList.isLoggedIn')
      .alert.alert-warning(role='alert', ng-hide='partiesList.isLoggedIn')
        strong Warning!
        |         Log in to create a party!
  .row
    .col-md-12
      h2 List of flash cards:
      form.form-inline
        .form-group
          input.form-control(type='search', ng-model='partiesList.searchText', placeholder='Search')
        parties-sort.form-group(on-change='partiesList.sortChanged(sort)', property='name', order='1')
  .row
    .col-md-12
      ul.parties
        li(dir-paginate='party in partiesList.parties | itemsPerPage: partiesList.perPage', total-items='partiesList.partiesCount')
          .row
            .col-sm-8
              h3.question-body
                a(ui-sref='partyDetails({ partyId: party._id })') {{party.question}}
              p.question-answer
                | {{party.answer}}
            .col-sm-4
              party-remove(party='party', ng-show='partiesList.isOwner(party)')
          .row
            .col-md-4
              party-creator(party='party')
      dir-pagination-controls(on-page-change='partiesList.pageChanged(newPageNumber)')
